/* Import Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --titulo:"Raleway", sans-serif;
    --texto: "Roboto", sans-serif;
    --rosa: #731A4B;
    --azul: #2192BF;
    --azulOscuro: #025E73;
    --verde: #72A69C;
    --crema: #F2D0A7;
}
/* Formateo de página */
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: var(--texto);
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* HEADER */
.header {
    width: 100%;
    position: relative;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
}
.header__logo{
    height: 50px;
}
.header__iconos {
    font-size: 50px;
}
.header__iconos-Verde {
    color: var(--verde);
}
.header__iconos-Rosa {
    color: var(--rosa);
}
.header__menu {
    position: absolute;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;  
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    transition: all 1s ease;  
    overflow: hidden;
    transform: translateY(-100%);
}
.header__menu--activo {
    pointer-events: auto;
    transform: translateY(0%);
}
.menu__abrir, .menu__cerrar {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu__close {
    font-size: 3rem;
    color: var(--rosa);
}
.menu__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu__elemento{
    padding: 1rem 2rem;  
    width: 100%; 
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.menu__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem; 
    color: var(--azul);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    gap: 1rem;
} 
.menu__logo {
    height: 50px;
}
.menu__enlace {
    position: relative;
    color: #000;
    text-decoration: none;  
    text-align: center; 
} 

.portada {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../assets/img/portada.jpg);
    background-size: cover;
    background-position: center;
}
.portada__capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    color: #fff;
}
.portada__frase {
    font-family: var(--titulo);
    font-weight: bold;
    font-size: 1.25rem;
}
.servicios, .nosotros, .especialidades, .atencion, .contacto, .ubicacion {
    padding: 1rem 2rem; 
    gap: 1rem;
}
.secciones__subtitulos {
    color: #555;
}
.secciones__titulos {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}
.sevicios__cartas {
    background-color: var(--azul);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    color: white; 
    width: 100%;
    height: 100%;
} 
.cartas__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}
.cartas__boton { 
    width: max-content;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: auto;
    background-color: #fff;
}
.splide__arrows .displayNone, .splide__pagination .displayNone {
    display: none;
}
 /* NOSOTROS */ 
  .nosotros{
    background-color: #F2D0A7;  
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
.nosotros__contenido{
    display: flex; 
    flex-direction: column-reverse;
    gap: 1rem;
}
.nosotros__img{
    width: 100%;
    border-radius: 1rem;
}
.nosotros__oculto {
    display: none;
}

  /* Especialidades */
  .especialidades__contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
.especialidad {
    display: flex;
    align-items: center;
    padding: 1rem; 
    border: 1px solid #ccc;
    border-radius: 1rem;
} 
/*Iconos*/
.especialidad__iconos {
    color: var(--rosa);
    font-size: 2rem;
} 

/* ATENCIÓN */ 
.atencion__seccion {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
    align-items: center;
    color: #fff;
} 
.atencion__titulo {
    margin-bottom: 1rem;
}
.atencion__seccion--BT {
    border-radius: 1rem 1rem 0 0;
    background-color: var(--rosa);
}
.atencion__seccion--Azul {
    background-color: var(--azul);
}
.atencion__seccion--BB {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--azulOscuro);
}
.atencion__dias {
    width: 100%;  
    margin: 1rem;
    padding: 0 0.5rem; 
}

/* FORMULARIO */
.formulario { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    margin-top: 2rem;
}

.formulario__label {
    display: grid;
    grid-template-areas: "input";
} 

.formulario__placeholder {
    grid-area: input;
    width: max-content;
    padding: 15px;
    color: gray;
    transition: transform .2s ease-in-out;
}

.formulario__input {
    grid-area: input;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
}

.formulario__input:focus-visible {
    outline: 1px solid #0b57d0;
}

.formulario__input:is(:focus, :not(:placeholder-shown))+.formulario__placeholder {
    padding: 15px 10px;
    transform: translate(-5%, -60%) scale(0.8);
    background-color: white;
    color: #0b57d0;
}

.formulario__input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contenedor__botones {
    display: flex;
    justify-content: space-around;
}

.formulario__boton {
    width: 100px;
    border: none;
    background-color: #0b57d0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
    cursor: pointer;
}

.formulario__boton:hover {
    background-color: #0a4fbe;
}
.formulario__mensaje {
    margin-top: 0.5rem;
}

/* UBICACIÓN */
.ubicacion__iframe {
    width: 100%;
    border-radius: 1rem;
    max-height: 400px;
}

.footer {
    display: flex;
    gap: 2rem; 
    flex-wrap: wrap; 
    background-color: var(--crema);
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center; 
} 

@media screen and (min-width:767px)   {
    .header__container { 
        position: absolute;
    }
    .header__menu {
        transform: translateY(0);
        position:static;
        height: min-content; 
    }
    .menu__lista{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    .menu__enlace::after {
        content: '';   
        position: absolute;
        bottom: -5px;   
        left: 0;
        width: 0;   
        height: 4px;   
        border-radius: 4px;
        background-color: var(--rosa);   
        transition: width 0.3s ease;  
    }
    
    .menu__enlace:hover::after {
        width: 100%;  
    }
    .menu__cerrar {
        display: none;
    } 
    .menu__elemento {
        padding: 0; 
        width: max-content;
        border: none;
    }
    .menu__titulo {
        justify-content: start;
        width: min-content;
        border: none;
        padding: 0;
    }
    .especialidades__contenedor {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .especialidad {
        width: max-content;
    }
    .atencion__contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
    }
    .atencion__seccion {
        flex: 1;
    }
    .atencion__seccion--BT {
        border-radius: 1rem 0 0 1rem;
    }
    .atencion__seccion--BB {
        border-radius: 0 1rem 1rem 0;
    } 
    .formulario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .formulario__mensaje {
        margin: 0;
    }
    .formulario__placeholder--Min {
        height: min-content;
    }
}
@media screen and (min-width:1023px)   {
    .menu__titulo { 
        width: max-content;  
    }
    .portada {
        height: 400px;
    }
    .nosotros__oculto {
        display: block;
    }
    
    .secciones__grande {
        display: flex;
    }
    .contacto, .ubicacion {
        width: 50%;
    }
}

@media screen and (min-width:426px)   {
    .nosotros__contenido{ 
        flex-direction: row;
        align-items: center; 
    }
    .nosotros__texto, .nosotros__imagen{
        width: 50%;
    }
    .nosotros__img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position:inherit;
        border-radius: 1rem;
    }
}