/* Import Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --titulo: "Raleway", sans-serif;
    --texto: font-family: "Roboto", sans-serif;
    --rosa: #731A4B;
    --azul: #2192BF;
    --azulOscuro: #025E73;
    --verde: #72A69C;
}
/* Formateo de página */
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: var(--texto);
    box-sizing: border-box;
}

/* HEADER */
.header {
    position: relative;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
}
.header__logo{
    height: 50px;
}
.header__iconos {
    font-size: 50px;
}
.header__iconos-Verde {
    color: var(--verde);
}
.header__iconos-Rosa {
    color: var(--rosa);
}
.header__menu {
    position: absolute;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;  
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    transition: all 1s ease;  
    overflow: hidden;
    transform: translateY(-100%);
}
.header__menu--activo {
    pointer-events: auto;
    transform: translateY(0%);
}
.menu__abrir, .menu__cerrar {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu__close {
    font-size: 3rem;
    color: var(--rosa);
}
.menu__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu__elemento{
    padding: 1rem 2rem;  
    width: 100%; 
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.menu__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem; 
    color: var(--azul);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    gap: 1rem;
} 
.menu__logo {
    height: 50px;
}
.menu__enlace {
    color: #000;
    text-decoration: none;  
    text-align: center; 
}
.portada {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../assets/img/portada.jpg);
    background-size: cover;
    background-position: center;
}
.portada__capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    color: #fff;
}
.portada__frase {
    font-family: var(--titulo);
    font-weight: bold;
    font-size: 1.25rem;

}